 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --btn-primary: rgb(104, 104, 176);
  --shadow-color: rgba(0, 0, 0, .05);
  --font-primary: rgb(46, 46, 105);
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Navigation styling */
.logo {
  color: var(--font-primary);
  font-size: 3rem;
  flex: 1;
}

.nav--container {
  display: flex;
  padding: 1.5rem;
  width: 100%;
  box-shadow: .1rem .1rem 3rem 3rem var(--shadow-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
}

.btn--container {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  width: 20%;
}

button {
  outline: none;
  border: 0;
  height: 4rem;
  border-radius: .5rem;
  font-size: 1.5rem;
  padding: .5rem 2.5rem;
}

.btn--signup , .btn--search {
  background-color: var(--btn-primary);
  color: #fff;
  box-shadow: 1rem .1rem 3rem 1rem var(--shadow-color);
}



/* Hero section styling */
.hero--section {
   display: flex;
   padding-top: 5rem;
   justify-content: space-between;
   align-items: center;
   position: relative;
   z-index: -1;
}

.hero--text {
  height: 100%;
  padding-left: 11rem;
}
.hero--text-main h1{
  font-size: 5.5rem;
  text-transform: capitalize;
}

.hero--text-start{
  color: rgb(104, 104, 176);
}
.hero--text-sub {
  display: flex;
  flex-direction: column;
  color: gray;
  padding-left: .2rem;
}
.hero--text-sub span{
  font-size: 1.75rem;
  font-weight: 200;
}

.hero--banner img {
  width: 55rem;
  height: 40rem;
  display: block;
  z-index: -1;
}

/* Seach bar styling */
.search--section {
  display: grid;
  grid-template-columns: repeat(4,1fr) 75px;
  grid-gap: 2rem;
  width: 80%;
  margin: auto;
  padding: 2rem 2rem;
  margin-top: -1rem;
  z-index: 10;
  border-radius: .5rem;
  box-shadow: 1rem .3rem 2rem 2rem rgba(0 , 0, 0, .1);
}
.btn--search {
 height: auto;
 padding: .2rem;
}

/* Property-card styling */

.property--card-container {
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-gap: 5rem;
   width: 85%;
   margin:auto;
   margin-top: 3rem;
   padding: 3rem;
}

.property--card {
  box-shadow: 1rem 1rem 3rem 2rem rgba(0, 0, 0, .05);
  padding: 1rem;
  border-radius: .5rem;
  transition: all .2s;
}

.property--card:hover {
  box-shadow: 1rem 1rem 1.5rem 1.5rem rgba(0, 0, 0, .15);
  cursor: pointer;
  transform: scale(1.05);
}
.property--img {
  display: block;
  width: 100%;
  /* object-fit: cover; */
  height: 23rem;
  border-top-left-radius: 6rem;
  border-bottom-right-radius: 5.5rem;
  margin-bottom: 2rem;
}

.property--title {
  font-weight: 400;
  margin-bottom: 1rem;
}

.property--info {
  margin: 1rem 0;
}

.property--info {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

/* Loading button styling */
.btn--load {
    background-color: var(--btn-primary);
    color: #fff;
    box-shadow: 1rem .1rem 3rem 1rem var(--shadow-color);
    display: block;
    cursor: pointer;
    margin: 1rem auto;
    transition: transform .3s;

}
.btn--load:hover {
  transform: scale(1.1);
}

/* Details page styling */
.details {
  width: 83%;
  margin: auto;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}
.details--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.details--photos {
  width: 40%;
  display: block;
  /* max-height: 36rem */
}

.details--img {
  width: 100%;
  height: 33.5rem;
  border-radius: .5rem;
}

.details--info{
  width:60%;
  padding: 0 1.5rem;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1rem !important;
  font-weight: bold;
  color: #75aad2 !important;
  background-color: white;
  padding: 1.25rem;
  border-radius:100%;
}
.property--description {
  margin-top: 2rem;
}
.property--description-title {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: .8rem;
  margin: 1rem 0;
}
.property--description-info {
  font-size: 1.5rem;
  font-weight: 200;
  text-align: start;
  line-height: 2.2rem;
  letter-spacing: .5px;
  color: gray;
  margin: .25rem 0;
}

.property--feature {
  margin: 1.5rem 0;
}

.property--information {
  display: flex;
  flex-direction: row;
}

.property---information-map {
  width: 66%;
  height: 46.5rem;
  margin-right: 2rem;
}

.property--information-contact {
  width: 32%;
  
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.contact--form {
  border: 1px dotted gray;
  padding: 1.4rem 2rem;
  width: 100%;
  border-radius: 1rem;
}

.btn--submit {
  width: 100%;
}

@media screen and (max-width:820px) {
  .btn--container {
    display: none;
  }
  .details--container {
    flex-direction: column;
  }
  .details--photos {
    width: 100%;
    height: 35rem;
    margin-bottom: 2rem;
    /* height: rem; */
  }
  .details--info {
    width: 100%;
    padding: 0;
  }
  .property--information {
     flex-direction: column;
  }
  .property---information-map {
    width: 100%;
    margin-bottom: 2.5rem;
  }
  .property--information-contact{
    width: 100%;
  }
  .search--section {
    grid-template-columns: repeat(2,1fr);
    box-shadow: none;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
    padding: 0;
  }

  .search--section button {
      grid-column: 1/3;
      height: 4rem;
  }

  .hero--banner {
    width: 75%;
    margin: auto;
  }

  .hero--banner img {
    width: 100%;
    opacity: .5;
  }

  .property--card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero--section {
    position: relative;
  }

  .hero--text {
    position: absolute;
    top: 40%;
    left: 13%;
    z-index: 4;
  }
  
  .hero--text-main h1 , .hero--text-start {
    font-size: 5rem;
    margin-right: .5rem;
    color: #0a2107;
    font-weight: 500;
  }
            
  .hero--text-sub {
     color: #091a24;
     font-weight: 600;
     font-size: 1.3rem;
  }
  .search--section {
    width: 77%;
  }
}

@media screen and (max-width: 540px) {
  .property--card-container {
    grid-template-columns: 1fr;
  }

  .search--section {
    padding: .2rem;
  }

  .search--section > * {
    grid-column: 1/3;
  }
  .hero--banner {
    display: none;
  }
  .hero--text {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-left: 0;
  }
  .hero--text-main h1,
  .hero--text-start {
    font-size: 3rem;
  }
  .hero--text-sub {
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 300;
    padding: .5rem 2rem;
  }

  .search--section {
    width: 85%;
  }

  .property--card-container {
    width: 100%;
  }
}