 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --btn-primary: rgb(104, 104, 176);
  --shadow-color: rgba(0, 0, 0, .05);
  --font-primary: rgb(46, 46, 105);
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Navigation styling */
.logo {
  color: var(--font-primary);
  font-size: 3rem;
  flex: 1;
}

.nav_container {
  display: flex;
  padding: 1.5rem;
  width: 100%;
  box-shadow: .1rem .1rem 3rem 3rem var(--shadow-color);
  /* border-bottom: .1rem var(--btn-primary) solid; */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
}

.btn--container {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  width: 20%;
}

button {
  outline: none;
  border: 0;
  height: 4rem;
  border-radius: .5rem;
  font-size: 1.5rem;
  padding: .5rem 2.5rem;
}

.btn--signup , .btn--search {
  background-color: var(--btn-primary);
  color: #fff;
  box-shadow: 1rem .1rem 3rem 1rem var(--shadow-color);
}


/* Hero section styling */
.hero--section {
   display: flex;
   padding-top: 5rem;
   justify-content: space-between;
   align-items: center;
   position: relative;
   z-index: -1;
}

.hero--text {
  height: 100%;
  padding-left: 11rem;
}
.hero--text-main h1{
  font-size: 5.5rem;
  text-transform: capitalize;
}
.hero--text-sub {
  display: flex;
  flex-direction: column;
  color: gray;
  padding-left: .2rem;
}
.hero--text-sub span{
  font-size: 1.75rem;
  font-weight: 200;
}

.hero--banner img {
  width: 55rem;
  height: 40rem;
  display: block;
  z-index: -1;
}

/* Seach bar styling */
.search--section {
  display: grid;
  grid-template-columns: repeat(4,1fr) 75px;
  grid-gap: 2rem;
  width: 75%;
  margin: auto;
  padding: 2rem 2rem;
  margin-top: -1rem;
  z-index: 10;
  border-radius: .5rem;
  box-shadow: 1rem .3rem 2rem 2rem rgba(0 , 0, 0, .1);
}
.btn--search {
 height: auto;
 padding: .2rem;
}

/* Property-card styling */

.property--card-container {
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-gap: 5rem;
   width: 85%;
   margin:auto;
   margin-top: 3rem;
   padding: 3rem;
}

.property--card {
  box-shadow: 1rem 1rem 3rem 2rem rgba(0, 0, 0, .05);
  padding: 1rem;
  border-radius: .5rem;
  transition: all .2s;
}

.property--card:hover {
  box-shadow: 1rem 1rem 1.5rem 1.5rem rgba(0, 0, 0, .15);
  cursor: pointer;
  transform: scale(1.05);
}
.property--img {
  display: block;
  width: 100%;
  /* object-fit: cover; */
  height: 23rem;
  border-top-left-radius: 7rem;
  border-bottom-right-radius: 6rem;
  margin-bottom: 2rem;
}

.property--title {
  font-weight: 400;
  margin-bottom: 1rem;
}

.property--info {
  margin: 1rem 0;
}

.property--info {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

/* Loading button styling */
.btn--load {
    background-color: var(--btn-primary);
    color: #fff;
    box-shadow: 1rem .1rem 3rem 1rem var(--shadow-color);
    display: block;
    cursor: pointer;
    margin: 1rem auto;
    transition: transform .3s;

}
.btn--load:hover {
  transform: scale(1.1);
}